extends ../../layouts/auth.pug

block main
    .container
        h2 Xác thực tài khoản
        form(
            action=`/auth/password/forgot`
            method="POST"
            )
            div(class="form-group")
                label(for="email") Email
                input(
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    required
                )
            button(type="submit") Gửi email xác nhận