include ../mixins/sub-menu.pug

header.header 
    .container 
        .row.align-items-center 
            .col-7
                .row
                    .col-1
                        .inner-logo 
                            a(href="/")
                                img(src="/images/Logo.jpg" alt="Logo")

                    .col-5
                        .inner-menu 
                            ul 
                                li 
                                    a(href="/") Trang chủ 
                                li.sub-menu
                                    -const pathProduct = "/products"
                                    a(href=pathProduct) Sản phẩm
                                        +sub-menu(layoutProductCategory, pathProduct)
                                if(userClient)
                                    li 
                                        a(href="/order") Đơn mua
            .col-5
                .row.align-items-center 
                    .col-3
                        .text-left
                            a(
                                class="btn btn-warning"
                                href=`/cart`
                            ) <i class="fa-solid fa-cart-shopping"> ( #{miniCart ? miniCart.totalQuantity : 0} )</i>
                    .col-4
                        div 
                            button(
                                class="button-mode light-mode button-mode-click"
                            ) 
                                <i class="fa-regular fa-sun"></i>
                            button(
                                class="button-mode dark-mode"
                            ) 
                                i(class="fa-solid fa-moon")
                    .col-5
                        div(class="text-right")
                            if(userClient)
                                a(
                                    href=`/my-account`
                                    class="btn btn-primary btn-sm mr-2"
                                ) #{userClient.username}
                                a(
                                    href=`/auth/logout`
                                    class="btn btn-danger btn-sm"
                                ) Đăng xuất
                            else
                                a(
                                    href=`/auth/login`
                                    class="btn btn-primary btn-sm mr-2"
                                ) Đăng nhập
                                a(
                                    href=`/auth/register`
                                    class="btn btn-danger btn-sm"
                                ) Đăng ký
                    