extends ../../layouts/default.pug
include ../../mixins/show-alert.pug
include ../../mixins/moment.pug

block main
  +alert-success(5000)
  +alert-error(5000)
  
  h1 Dashboard
    .pagetitle
      nav
        ol.breadcrumb
          li.breadcrumb-item
            a(href=`${prefixAdmin}/dashboard`) Home
          li.breadcrumb-item Dashboard
    // End Page Title
    section.section.dashboard
      .row
        // Left side columns
        .col-lg-7
          .row
            // Sales Card
            .col-xxl-4.col-md-6
              .card.info-card.sales-card
                .filter
                  a.icon(href='#', data-bs-toggle='dropdown')
                    i.bi.bi-three-dots
                  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                    li.dropdown-header.text-start
                      h6 Filter
                    li
                      a.dropdown-item(href='#') Today
                    li
                      a.dropdown-item(href='#') This Month
                    li
                      a.dropdown-item(href='#') This Year
                .card-body
                  h5.card-title
                    | Sales 
                    span | This Month
                  .d-flex.align-items-center
                    .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
                      i.bi.bi-cart
                    .ps-3
                      h6 #{objectProducts.sold}
                      span.text-success.small.pt-1.fw-bold 12%
                      |  
                      span.text-muted.small.pt-1.ps-1 increase
            // End Sales Card
            // Revenue Card
            .col-xxl-4.col-md-6
              .card.info-card.revenue-card
                .filter
                  a.icon(href='#', data-bs-toggle='dropdown')
                    i.bi.bi-three-dots
                  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                    li.dropdown-header.text-start
                      h6 Filter
                    li
                      a.dropdown-item(href='#') Today
                    li
                      a.dropdown-item(href='#') This Month
                    li
                      a.dropdown-item(href='#') This Year
                .card-body
                  h5.card-title
                    | Revenue 
                    span | This Month
                  .d-flex.align-items-center
                    .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
                      i.bi.bi-currency-dollar
                    .ps-5
                      h6 #{objectProducts.revenue}$
                      span.text-success.small.pt-1.fw-bold 8%
                      |  
                      span.text-muted.small.pt-1.ps-1 increase
            // End Revenue Card
            // Customers Card
            .col-xxl-4.col-xl-12
              .card.info-card.customers-card
                .filter
                  a.icon(href='#', data-bs-toggle='dropdown')
                    i.bi.bi-three-dots
                  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                    li.dropdown-header.text-start
                      h6 Filter
                    li
                      a.dropdown-item(href='#') Today
                    li
                      a.dropdown-item(href='#') This Month
                    li
                      a.dropdown-item(href='#') This Year
                .card-body
                  h5.card-title
                    | Customers 
                    span | This Year
                  .d-flex.align-items-center
                    .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center
                      i.bi.bi-people
                    .ps-3
                      h6 1244
                      span.text-danger.small.pt-1.fw-bold 12%
                      |  
                      span.text-muted.small.pt-1.ps-1 decrease
            // End Customers Card
            // Reports
            .col-12
              .card
                .filter
                  a.icon(href='#', data-bs-toggle='dropdown')
                    i.bi.bi-three-dots
                  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                    li.dropdown-header.text-start
                      h6 Filter
                    li
                      a.dropdown-item(href='#') Today
                    li
                      a.dropdown-item(href='#') This Month
                    li
                      a.dropdown-item(href='#') This Year
                .card-body
                  h5.card-title
                    | Reports 
                    span /Today
                  // Line Chart
                  #reportsChart
                    script.
                      //- let salesData = charts.map(item => item.sold)
                      document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#reportsChart"), {
                            series: [{
                                name: 'Sales',
                                data: #{listSold},
                            }, {
                                name: 'Revenue',
                                data: #{listRevenue}
                            }],
                            chart: {
                                height: 350,
                                type: 'area',
                                toolbar: { show: false },
                            },
                            markers: { size: 4 },
                            colors: ['#4154f1', '#2eca6a'],
                            fill: {
                                type: "gradient",
                                gradient: {
                                    shadeIntensity: 1,
                                    opacityFrom: 0.3,
                                    opacityTo: 0.4,
                                    stops: [0, 90, 100]
                                }
                            },
                            dataLabels: { enabled: false },
                            stroke: {
                                curve: 'smooth',
                                width: 2
                            },
                            xaxis: {
                                type: 'datetime',
                                categories: ["2024-01-01T00:00:00.000Z", "2024-01-02T00:00:00.000Z", "2024-01-03T00:00:00.000Z", "2024-01-04T00:00:00.000Z", "2024-01-05T00:00:00.000Z", "2024-01-06T00:00:00.000Z", "2024-01-07T00:00:00.000Z"]
                            },
                            tooltip: { x: { format: 'dd/MM/yy HH:mm' } }
                        }).render();
                      })
                  // End Line Chart
            // End Reports
            
            // Top Selling
            .col-12
              .card.top-selling.overflow-auto
                .filter
                  a.icon(href='#', data-bs-toggle='dropdown')
                    i.bi.bi-three-dots
                  ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                    li.dropdown-header.text-start
                      h6 Filter
                    li
                      a.dropdown-item(href='#') Today
                    li
                      a.dropdown-item(href='#') This Month
                    li
                      a.dropdown-item(href='#') This Year
                .card-body.pb-0
                  h5.card-title
                    | Top Selling 
                    //- span | Today
                  table.table.table-borderless
                    thead
                      tr
                        th(scope='col') Preview
                        th(scope='col') Product
                        th(scope='col') Price
                        th(scope='col') Sold
                        th(scope='col') Revenue
                    tbody
                      each item in records 
                        tr
                          th(scope='row')
                            a(href='#')
                              img(src=item.image, alt=item.title)
                          td
                            a.text-primary.fw-bold(href='#') #{item.title}
                          td #{(item.price * (100 - item.discountPercentage) / 100).toFixed(1)}$
                          td.fw-bold #{item.sold}
                          td #{(item.price * (100 - item.discountPercentage) / 100 * item.sold).toFixed(1)}$
            // End Top Selling
          // End Left side columns
        // Right side columns
        .col-lg-5
          // Recent Activity
          .card
            .filter
              a.icon(href='#', data-bs-toggle='dropdown')
                i.bi.bi-three-dots
              ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                li.dropdown-header.text-start
                  h6 Filter
                li
                  button(class="dropdown-item recent-activity" value="Today") Today
                li
                  button(class="dropdown-item recent-activity" value="This Month") This Month
                li
                  button(class="dropdown-item recent-activity" value="This Year") This Year
            .card-body
              h5.card-title
                | Recent Activity 
                span(id="time-active") | Today
              each timeLog in timeLogs
                .activity
                  .activity-item.d-flex
                    .activite-label 
                      +formatDateTime(timeLog.createdAt)
                    i.bi.bi-circle-fill.activity-badge.text-success.align-self-start
                    .activity-content
                      | #{timeLog.accountFullName} - #{timeLog.accountRoleTitle}
                    //- a.fw-bold.text-dark(href='#') explicabo officiis
                    //- |  beatae
                // End activity item
          .card
            .filter
              a.icon(href='#', data-bs-toggle='dropdown')
                i.bi.bi-three-dots
              ul.dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                li.dropdown-header.text-start
                  h6 Filter
                li
                  a.dropdown-item(href='#') Today
                li
                  a.dropdown-item(href='#') This Month
                li
                  a.dropdown-item(href='#') This Year
        // End Right side columns
      // Vendor JS Files
  script(src="/admin/js/dashboard.js") 