mixin product-item(item)
    .col-4.mb-3 
        .product-item 
            .inner-image 
                img(
                    src=item.image 
                    alt=item.title
                    zoom-image
                )
                if(item.featured == "1")
                    .inner-featured Nổi bật
            .inner-content 
                h3.inner-title
                    //- a(href=`/products/detail/${item.slug}`) #{item.title}
                    a(href=`/products/detail/${item.id}`) #{item.title}
                .row
                    .col-7
                        .inner-price-new #{item.priceNew}$
                        .inner-price-old #{item.price}$
                        .inner-discount -#{item.discountPercentage}%
                    .col-5
                        .order-quantity
                            button(
                                class="btn btn-light"
                                button-reduce
                            ) -
                            input(
                                class="order-value form-control"
                                type='number'
                                value='1'
                                min='1'
                                readonly=''
                            )
                            button(
                                class="btn btn-light"
                                button-increase
                            ) +
                        .order-item
                            button(
                                class="btn btn-warning"
                                carts
                            ) <i class="fa-solid fa-cart-shopping"></i>
