extends ../../layouts/default.pug
include ../../mixins/box-head.pug
include ../../mixins/search.pug

block main
  .container.my-3 
    .row 
      .col-12 
        .row
          .col-9
            +box-head("Danh sách sản phẩm")
          .col-3
            +search(keyword)

    .row 
      each item in products
        .col-4.mb-3 
            .product-item 
              .inner-image 
                img(
                src=item.image 
                alt=item.title
                zoom-image
                )
              .inner-content 
                h3.inner-title #{item.title}
                .inner-price-new #{item.newPrice}$
                .inner-price-old #{item.oldPrice}$
                .inner-discount -#{item.discountPercent}%
